html
    height 100%

body
    height 100%

// Don't show anything with the hidden class
.hidden
    display none !important

*, *:before, *:after
    // Have border and padding cut out of the width instead of added to
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box
